<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">

  <div class="sidebar-item">
    <img src="$baseurl$/images/tim-movember-2009.jpg" />
    <p>Tim McGilchrist</p>
    <p>Principal Software Engineer at Tarides</p>

    <p>
      Twitter: <a href="https://twitter.com/lambda_foo">@lambda_foo</a><br>
      Github: <a href="https://github.com/tmcgilchrist">tmcgilchrist</a><br>
      Email: <a href="mailto:timmcgil@gmail.com">timmcgil@gmail.com</a><br>
      LinkedIn: <a href="https://www.linkedin.com/in/timmcgilchrist">Tim McGilchrist</a>
    </p>

  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item" href="$baseurl$/">
      Blog
    </a>
    <a class="sidebar-nav-item" href="$baseurl$/about">
      About
    </a>
    <a class="sidebar-nav-item" href="$baseurl$/talks">
      Talks
    </a>
    <p class="sidebar-nav-item">
      Feed:
      <a  href="$baseurl$/rss.xml">
        RSS
      </a>
      /
      <a  href="$baseurl$/atom.xml">
        Atom
      </a>
    </p>
  </nav>

  <div class="sidebar-item">
    <p>
      &copy; Tim McGilchrist 2007-2021
    </p>
    <p>
      Powered by Hakyll
    </p>
  </div>
</div>
