<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">

  <div class="sidebar-item">
    <p><a href="$baseurl$/"><strong>Tim McGilchrist</strong></a></p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item" href="$baseurl$/">Blog</a>
    <a class="sidebar-nav-item" href="$baseurl$/pages/about.html">About</a>
    <a class="sidebar-nav-item" href="$baseurl$/pages/talks.html">Talks</a>
    <a class="sidebar-nav-item" href="$baseurl$/pages/server-room.html">Server Room</a>
    <a class="sidebar-nav-item" href="$baseurl$/archive.html">Archive</a>
  </nav>

  <div class="sidebar-item">
    <p>
      <a href="https://github.com/tmcgilchrist">GitHub</a> ·
      <a href="https://bsky.app/profile/tsmc.purely-functional.com">Bluesky</a>
    </p>
    <p>
      <a href="$baseurl$/rss.xml">RSS</a> ·
      <a href="$baseurl$/atom.xml">Atom</a>
    </p>
    <p>
      &copy; Tim McGilchrist 2007-2025
    </p>
  </div>
</div>
